
.container {
    position: relative;
}

.container,
.left-content {
    min-height: 800px;
}

.left-content {
    display: inline-block;
    width: 180px;
    padding: 0 10px 10px;
    background-color: rgba(191, 191, 191, 0.15);
    box-shadow: -5px 0 14px -8px rgba(0, 0, 0, 0.25) inset;
}

.right-content {
    position: absolute;
    right: 0;
    left: 300px;
    top: 0;
    height: 100%;
}


.right-content .sub-title {
    font-size: 120%;
    color: rgba(152, 152, 152, 0.8);
}

.title-container {
    margin-top: 30px;
    margin-left: 204px;
    min-height: 140px;
    margin-bottom: 10px;
}

.title-container .request-data-type {
    font-size: 240%;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 10px;
}


.stats {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}


#tabpanel {
    margin-top: 10px;
}

#tabpanel .dx-multiview-wrapper {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

#tabpanel .tab-panel-title {
    font-size: 120%;
    font-weight: 500;
}

#tabpanel .dx-multiview-item-content {
    padding: 20px 0 22px;
    min-height: 178px;
    position: relative;
}

#tabpanel .right-content {
    top: 15px;
    left: 202px;
}

#tabpanel .stats {
    width: 398px;
    margin-top: 20px;
    border-top: 1px solid rgba(191, 191, 191, 0.25);
}